<div class="col-sm-6 col-sm-offset-3">

    <h1>Login</h1>

    <form name="loginForm" ng-controller="LoginController" ng-submit="login()">
    <span class="error" ng-show="errorMsg">{{errorMsg}}</span>

        <div class="form-group">
            <label>Faculty number</label>
            <input type="text" ng-model="facNumber" required class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" ng-model="password" required class="form-control" name="password">
        </div>

        <input type="submit" class="btn btn-warning btn-lg" value="Login" />
    </form>

    <br>

    <p>Need an account? <a href="#/signup">Signup</a></p>
    <p>Or go <a href="#/">home</a>.</p>
</div>