<div class="jumbotron text-center col-sm-8 col-sm-offset-2" ng-hide="user">
    <h1>Study plan</h1>
    <h2>Order you elective courses in FMI.</h2>
    <div class="btn-group" role="group" >
        <a href="#/login" class="btn btn-default" id="loginBtn">Login</a>
        <a href="#/signup" class="btn btn-default" id="signupBtn">Signup</a>
    </div>
</div>


<div ng-show="user" id="greetings-wrapper">
    <div>
        <h3>Greetings, {{user.name}}!!!</h3>
        <span>Not you? <a class="btn btn-default" id="logoutBtn" ng-click="logout()">Logout</a></span>
    </div>

    <div class="timetable"></div>

    <awesome-list items="selectedCourses" displayed="displayedSelectedCourses" initial-sort="name" class="col-sm-6">
        <div class="pre-table-header row">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- input for search placed here -->
                    <awesome-search class="form-control"
                                    search-fields="['name', 'group', 'teacher', 'type', 'day', 'from', 'to', 'room']"></awesome-search>
                </div>
            </div>
        </div>

        <ll class="list-group">
            <li class="list-group-item" ng-repeat="course in displayedSelectedCourses">
                <h4>{{course.name}}</h4>
                <h5>{{course.group}}</h5>
                <div>{{course.teacher}}</div>
                <div>{{course.type}}</div>
                <div>{{course.day}}, от {{course.from}} до {{course.to}}, зала {{course.room}}</div>
                <a class="btn btn-default" ng-click="removeCourse(course)">Премахни</a>
            </li>
        </ll>

        <!-- single tag pagination! (opts forthcoming) -->
        <awesome-pagination chomp="10" class="pagination pagination-sm"></awesome-pagination>
    </awesome-list>

    <awesome-list items="courses" displayed="displayedCourses" initial-sort="name" class="col-sm-6">
        <div class="pre-table-header row">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- input for search placed here -->
                    <awesome-search class="form-control"
                                    search-fields="['name', 'group', 'teacher', 'type', 'day', 'from', 'to', 'room']"></awesome-search>
                </div>
            </div>
        </div>

        <ll class="list-group">
            <li class="list-group-item" ng-repeat="course in displayedCourses">
                <h4>{{course.name}}</h4>
                <h5>{{course.group}}</h5>
                <div>{{course.teacher}}</div>
                <div>{{course.type}}</div>
                <div>{{course.day}}, от {{course.from}} до {{course.to}}, зала {{course.room}}</div>
                <a class="btn btn-default" ng-click="addCourse(course)">Избери</a>
            </li>
        </ll>

        <!-- single tag pagination! (opts forthcoming) -->
        <awesome-pagination chomp="10" class="pagination pagination-sm"></awesome-pagination>
    </awesome-list>
</div>






